.tabs{
    grid-column-start: 1;
    grid-column-end: span 5;  
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    margin-bottom: 0;
}
  
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    margin: 60px;
    margin-bottom: 0;
    margin-top:10px;
}
  
  .date-form{
    margin:10px;
  }
  .tab-list-active {
    border:solid #27b6ba;
    border-width: 0px 0px 3px 0px;
  }
  .properties{
    margin:8px;
  }
  .close-btn{
    color: black;
  }

  .file-container{
    border-bottom: 1px solid #e6e8ec;
    padding:20px 10px;
    background:#f3f4f5;
    border-top: 1px solid #ccc;
   }
   .search-file{
   width: 450px;
   border: 1px solid;
   padding: 4px;
   }
   .search-file:hover{
     border-color: #696f7a;
   }
   .fileContainer{
     background: #27b6ba;
     padding: 5px 50px;
     margin-left: 19px;
     width: 78px;
   }
   .files-list{
     background-color: #fff;
     margin-bottom: 5px;
   }
.bar{
  /* width: 25%; */
  background: #27b6ba;
  margin: 30px;
  border-radius: 16px;
  height: 10px;
  margin-left: 10px;
}
.bar-value{
  margin: 30px;
  margin-top: 26px;
  margin-right:10px;
}
.shell{
  display: flex;
}
.check-list-input{
  background: #fff;
  margin: 10px;
  border: none;
  padding: 10px;
  margin-left: 50px;
  width: 400px;
  margin-top: 20px;
}
.check-box{
  border-right: 1px solid #f8bcb6;
  background: #fff;
  margin:10px;
  padding: 10px;
  margin-right:1px;
  height:17px;


}
.check-list-header{
  display: flex;
  justify-content: space-around;
}

.bar-complete{
  background: #61bd4f;
  /* width: 25%; */
  margin: 30px;
  border-radius: 16px;
  height: 10px;
  margin-left: 10px;
}

 