.cards{
    display: flex;
    align-items: center;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    margin:8px;
    height: 30px;
    width: 272px;
    justify-content: space-between;
  }
  .cards h3{
    margin:8px;
  }
  .create-card-link{
    width:272px;
    height:30px;
    margin:8px;
    padding: 4px 8px;
    padding-bottom: 4px;
    background-color: #d4d6db;
    color: #464c59;

  }
  .DayPicker{
    background: #fff;
    color: black;
  }
  .due-date{
    color:black;
  }
  .card-content{
    display: grid;
  }