body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background:#0079bf;
  max-height: 100%;
  /* overflow-x:scroll; */
}
.header{
  color:#fff;
  width:auto;
  height:40px;
  background: #026aa7;
  text-align: center;
}
.header h2{
  margin:0;
}
.load{
  display: flex;
  flex-wrap: wrap;
}
.load h2{
  color:#fff;
  margin:0;
  margin-top:5px;
  height: 35px;
  font-size: 30px;
}
.board-input{
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 6px 8px 2px;
  padding-right: 2px;
  margin:0;
  border: 2px solid #3273dc;
  border-radius: 4px;
  margin-bottom: 5px;
  width:232px;
  margin-left:4px;
}
.edit-board{
  background: #fff;
  font-size: 16px;
  line-height: 4px;
  width: 180px;
  padding: 8px 8px 4px;
  padding-right: 2px;
  margin:0;
  border: 2px solid #3273dc;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-left:-2px;
}
.Board{
  width: 250px;
  background: white;
  padding: 4px;
  padding-top:0;
  margin: 8px;
  margin-top:0;
  border-radius: 4px;

}
.create-list-link{
  color: #fff;
  text-align: center;
  width:252px;
  height: 30px;
  background: #0067a3;
  margin-left: 5px;
  padding-bottom: 4px;
  border-radius: 4px;
  padding-top:4px;
} 
.create-list-link:hover, .board-header:hover{
  background: rgba(0,0,0,.3);
    background-color: rgba(0, 0, 0, 0.3);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
}
.list-link{
  color:#fff;
  width: 249px;
  top: 8px;
  margin-top: 4px;
  margin-left: 2px;
  text-align: center;
}
.submit-board-button{
  background-color:green;
  color: white;
  border:none;
  border-radius: 3px;
  padding: 8px 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.create-card-link{
  margin-left:5px;
  padding-bottom: 4px;
}
.link{
  color: #8b94a5;
}
.cancel-btn{
color:#6b778c;
}
.wrap-btn{
  display: flex;
  flex-wrap: wrap;
}

.card-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.icon-container{
  visibility: hidden;
}

.icon-container{
  visibility: visible;
  background: #dfe1e6;
  padding: 2px;
  border-radius: 3px;
  width:20px;
  height: 20px;

}
.popup {
  margin-top:48px;
  width: 700px;
  height: 100%;
  background: #f4f5f7;
  color:#172b51;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-radius:3px;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.popup input{
  border:none;
}
.card-editor{
background: rgba(0,0,0,.6);
position: fixed;
bottom: 0;
left: 0;
right: 0;
top: 0;
color: #fff;
}
.save-card{
  background-color:green;
  color: white;
  border-radius: 3px;
  padding: 8px 10px;
  border:none;
  margin-right:2px;
}

.list-header{
  margin-top: 8px;
  margin-left: 8px;
  width:272px;
  height: auto;
}

.textarea{
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-size: 20px;
  font-weight: 700;
  height: 32px;
  line-height: 24px;
  /* margin: -4px -8px; */
  padding: 4px 8px;
  resize: none;
  width: 565px;
  margin-top: 9px;
  margin-left: 5px;
  overflow: none;
  /* height: 13px; */
}
.card-edit-mode{
  box-sizing: border-box;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 2px 2px;
  border: 2px solid #3273dc;
  border-radius: 4px;
  margin-bottom: 5px;
  width:660px;
  height: 32px;
  resize: none;
 justify-content: center;
  
}
